main.aux
main.log
main.fdb_latexmk
main.fls
main.synctex.gz
main.synctex(busy)
q1.log
q1.raw
q2.log
q2.raw
q2.net
q2_copy.log
q2_copy.raw
q2_copy.net
q3.copy.log
q3.copy.raw
q3_copy.net
q3.op.raw
q3.net
q3.log
q3.raw
q4_1.log
q4_1.raw
q4_1.op.raw
q4_2.log
q4_2.raw
q4_2.op.raw
q4_3.log
q4_3.raw
q4_3.op.raw