main.aux
main.log
main.fls
main.fdb_latexmk
main.synctex.gz
2_a.log
2_a.net
2_a.raw
2_b.log
2_b.raw
2_e.log
2_e.raw
2_e.plt
3_IBM.log
3_IBM.op.raw
3_IBM.raw
3_SCL.log
3_SCL.raw
3_SCL.op.raw
3_TSMC.log
3_TSMC.raw
4.log
4.raw
4.op.raw
4.net
4_cascade.log
4_cascade.raw
4_cascade.op.raw
4_cascade.plt