main.aux
main.log
main.out
main.fls
main.fdb_latexmk
main.synctex.gz
Q1.log
Q1.op.raw
Q1.raw
Q3.log
Q3.op.raw
Q3.raw
Q4_copy_1.log
Q4_copy_1.op.raw
Q3_copy_2.log
Q3_copy_2.op.raw
Q3_copy_2.raw
Q4_copy_1.raw
Q4_copy_2.log
Q4_copy_2.op.raw
Q4_copy_2.raw
Q4_e_char.log
Q4_e_char.op.raw
Q4_e_char.raw
Q4_e.log
Q4_e.op.raw
Q4_e.raw
Q4.log
Q4.op.raw
Q4.raw